<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Login a Fermi Notify.">
    <meta propety="og:image" content="https://ferminotify.me/img/og-logo.png">
    <meta property="og:description" content="Fermi Notify è un servizio non ufficiale dell'IS &quot;E. Fermi&quot; Mantova che invia delle notifiche per avvisare delle variazioni dell'orario del calendario giornaliero.">
    <meta property="og:title" content="Login · Fermi Notify">
    <meta property="og:type" content="website">
    <link rel="icon" type="image/x-icon" href="/img/favicon-black.png">
    <script src="/js/hamburger.js" defer></script>
    <!-- css -->
    <link rel="stylesheet" href="/css/normalize.css" type="text/css">
    <link rel="stylesheet" href="/css/alertbanner.css" type="text/css">
    <link rel="stylesheet" href="/css/general.css" type="text/css">
    <link rel="stylesheet" href="/css/form.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/95ae55bd9a.js" crossorigin="anonymous"></script>

    <!-- Material Icon -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3511194049429500" crossorigin="anonymous"></script>

<title>Login · Fermi Notify</title>
</head>
<body>
    <%- include('includes/cookie-min.ejs') %>

    <!-- NAVBAR -->
    <nav class="navbar">
        <div class="navbar-inner">
            <a class="logo" href="/">
                <img src="/img/nav-logo.png">
            </a>
            <a class="hamburger">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </a>
            <div class="nav-links">
                <ul>
                    <li>
                        <a href="./register" class="spanHighlight"><span>&gt;</span> Registrati</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<div class="minHeight-100vh formContainer">
<form id="form" onsubmit="loading()" action="/login" method="POST">
    <h1 class="title"><span style="color: var(--primary-color);">&gt;</span> login</h1>
    <div class="email inputs">
        <label for="Email" id="email-label">Email</label>
        <input type="email" placeholder="Email" name="email" id="email" required class="input-box">
    </div>
    <div class="psw inputs">
        <div class="flex-space-between"><label for="Password" id="password-label">Password</label><a id="ForgotPSW" href="password_reset">Password dimenticata?</a></div>
        <div class="psw-bar">
            <input type="password" placeholder="Password" name="password" id="password" required class="input-box">
            <span id="PSWShowHideIcon" onclick="ShowPSW()"><i class="fa-solid fa-eye-slash"></i></span>
        </div>
    </div>
    <button id="submit-btn" class="btn-bg margin-y15px" style="display: flex; align-items: center; justify-content: center;">Accedi</button>

    <p class="post-form-msg">Non hai un account? <a href="./register">Registrati</a></p>

</form>
</div>
    
    <% if (typeof errors != 'undefined') { %> 
        <div id="alertbanner" class="errorbanner">
            <ul style="list-style: none; padding-left: 0;">
                <% errors.forEach(error => { %>
                    <li id="alertmessage"><i class="fa-solid fa-circle-exclamation"></i> <%= error.message %></li>
                <% }) %> 
            </ul>
        </div>
        <script>
            document.getElementById("alertbanner").style.animation = "showAlert 0.5s ease-in-out forwards";
        </script>
    <% } %>
    


    <% if(messages.success_msg) { %>

        <div id="alertbanner" class="successbanner">
            <p id="alertmessage"><i class="fa-solid fa-check"></i> <%= messages.success_msg %></p>
        </div>
        <script>
            document.getElementById("alertbanner").style.animation = "showAlert 0.5s ease-in-out forwards";
        </script>

    <% } %>

    

    <% if (messages.error) { %>
        <div id="alertbanner" class="errorbanner">
            <p id="alertmessage"><i class="fa-solid fa-circle-exclamation"></i> <%= messages.error %></p>
        </div>
        <script>
            document.getElementById("alertbanner").style.animation = "showAlert 0.5s ease-in-out forwards";
        </script>
    <% } %>


    <%- include('includes/footer-min.ejs') %>

<script>
    $('input').on('change', function(){
         if($(this).val()==""){
            $(this).removeClass('inserted');
         }
         if($(this).val()!=""){
            $(this).addClass('inserted');
         }
    });

    $('input').on('focus', function(){
        labelID = this.id + "-label";
        $("#"+labelID).css("color", "var(--primary-color)");
        $(this).on("focusout", function() {
            $("#"+labelID).css("color", "#fff");
        });
    });
</script>

<script src="/js/submit-loading.js"></script>

<script src="/js/ShowPSW.js"></script>

<% if (typeof notOfficial !== 'undefined' ) { %>

    <div id="alertbanner" class="warningbanner">
        <p id="alertmessage"><i class="fa-solid fa-check"></i> <%= notOfficial %></p>
    </div>
    <script>
        document.getElementById("alertbanner").style.animation = "showAlert 0.5s ease-in-out forwards";
    </script>
<% } %>

</body>

<!-- preload img -->
<div id="preloadedImages" style="display: none;">
	<img src="/img/loading.png">
</div>

</html>